<%= form_with model: @form, url: url, method: method, class: "contents" do |form| %>
  <% if @form.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this todo from being saved:</h2>
      <ul>
        <% @form.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :limit %>
    <%= form.date_field :limit, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <%= form.fields_for :tasks, @form.tasks do |task_form| %>
    <div>
      <%= task_form.label :title %>
      <%= task_form.text_field :title, name: "todo_form[tasks_attributes][][title]", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
    <div>
      <%= task_form.label :content %>
      <%= task_form.text_field :content, name: "todo_form[tasks_attributes][][content]", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>